{% extends 'base.html.twig' %}

{% block title %}
    {{ editMode ? 'Modifier une Tâche' : 'Nouvelle Tâche' }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">{{ editMode ? 'Modifier une tâche' : 'Ajouter une nouvelle tâche' }}</h2>

        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {% for error in form.title.vars.errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {% for error in form.description.vars.errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form_label(form.dueDate) }}
            {{ form_widget(form.dueDate, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.priority) }}
            {{ form_widget(form.priority, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.group, 'Groupe', { label_attr: { class: 'form-label fw-semibold' } }) }}
            {{ form_widget(form.group, { attr: { class: 'form-select' } }) }}
            {{ form_errors(form.group) }}
        </div>

        <a href="{{ path('task_index') }}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left-circle me-1"></i> Annuler
        </a>
        <button class="btn btn-primary">{{ editMode ? 'Mettre à jour' : 'Créer' }}</button>


        {{ form_end(form) }}
    </div>

{% endblock %}
